/* Set ALL HTML elements with border-box sizing */
* {
	box-sizing: border-box;
}

.wrapper {
	margin: auto;
}

/* Eliminate white space at the top */
html {
	margin-top: 0;
}

header {
	color: lightgray;
	padding: 1px 0 10px 0;
}

main {
	background-color: gray;
}

footer {
	color: white;
	height: 50px;
}

header, footer {
	background-color: darkslategray;
}

/* Page Heading */
h1 {
	font-family: 'open sans', serif;
	font-size: 72px;
}

/* Intro Heading */
h2 {
	font-family: 'playfair display', fantasy, serif;
}

h3 {
	font-family: 'league spartan', cursive, serif;
}

header, h2, h3, footer, img {
	text-align: center
}

/* Page Heading Subtitle */
header p {
	font-family: 'roboto slab', sans-serif;
	font-size: 18px;
}

/* Main body text */
body p {
	font-family: 'ltc bodoni 175', sans-serif;
}

/* Footnote copyright text */
footer p {
	font-family: monospace, sans-serif;
	padding: 0;
}

article {
	margin: 75px 0;
}

/* Size down pictures */
img {
	display: block;
	width: 400px;
	margin-left: auto;
	margin-right: auto;
}

/* Dynamic Links */
a {
	text-decoration: none;
}

a:link {
	color: blue;
}

a:visited {
	color: purple;
}

/* Link becomes underlined when hovered over */
a:hover {
	text-decoration: underline;
}

a:active {
	color: lightblue;
}